.services  {
	padding: 5% 0;
background: #f4f8fb;
border-radius: 10px;
text-align: center;
	
}
.service {
	display: inline-block;
	padding: 10px;
	
		
	
	text-align:center;
}
.services span{
	color: #787878;
}
.services img {
margin: 0 auto;
	width: 50px;
	height: 50px;
}