.App {
  padding: 2% 10%;
 display: grid;
 grid-template-areas: 
 "h h" 
 "a a"
 "s s" 
 "n n"
 "r r" 
 "q q"
 "ser ser"
 "o o"
 "f f";

 grid-template-rows: 1fr 400px 500px 300px 650px 400px 300px 500px 200px;
 grid-template-columns: 1fr 1fr;

}
.header{
  grid-area: h;
}

.about{
  grid-area: a;
}
.skills{
  grid-area: s;
}
.advantages{
  grid-area: n;
}
.reviews{
  grid-area: r;
}
.quotes{
  grid-area: q;
}

.services{
  grid-area: ser;
}

.order{
  grid-area: o;
}
.footer{
  grid-area: f;
}

